@import url(https://fonts.googleapis.com/css?family=Nunito:regular,500,700,800,900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Nunito;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Nunito;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .3s
}
.wrapper {
  background-color: #ffdf8c;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 70.625rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,68.75rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.page {
  background-color: #fff;
  width: 1340;
  border-radius: .625rem;
  flex: 1 1 auto
}
.header__body {
  display: flex;
  justify-content: space-between
}
.header__logo {
  align-self: flex-start;
  cursor: pointer
}
.header__bar {
  align-self: flex-end
}
.logo {
  display: flex;
  gap: 1.25rem
}
.logo__title {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: #181818
}
.logo__subtitle {
  font-size: 1rem;
  color: #7b7b7b
}
.bar {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: end;
  align-items: center;
  background-color: #fe5f1e;
  border-radius: 1.875rem;
  font-weight: 700;
  color: #fff;
  transition: all .2s
}
.bar__price {
  border-right: .0625rem solid #fff
}
.cart-bar {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: .5rem
}
.cart-bar__img {
  width: 1.125rem;
  height: 1.125rem
}
.cart-bar__count {
  font-weight: 700
}
.content__nav {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.content__title {
  font-weight: 700;
  letter-spacing: .01em
}
.content__card {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15.625rem,1fr));
  justify-content: center
}
.category {
  cursor: pointer;
  max-width: 100%
}
.category__body {
  display: flex;
  gap: 1.25rem
}
.category__item {
  background: #f9f9f9;
  border-radius: 1.875rem;
  display: inline-flex;
  justify-content: center;
  text-align: center
}
.category__item span {
  display: inline;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .01em;
  text-align: center;
  color: #2c2c2c;
  padding: .625rem .9375rem
}
.category__item._active {
  background-color: #282828
}
.category__item._active span {
  color: #fff
}
.sort {
  position: relative;
  margin-left: 1.25rem;
  justify-items: end;
  cursor: pointer
}
.sort__label {
  display: flex;
  gap: .625rem;
  align-items: center
}
.sort__label P {
  display: flex;
  gap: .3125rem;
  font-weight: 700;
  font-size: .875rem;
  letter-spacing: .01em;
  color: #2c2c2c;
  white-space: nowrap;
  align-items: center
}
.sort__label span {
  font-size: .875rem;
  letter-spacing: .01em;
  color: #fe5f1e;
  border-bottom: .0625rem dashed #fe5f1e
}
.sort__popup {
  border-radius: .625rem;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.09);
  position: absolute;
  background-color: #fff;
  right: 0;
  z-index: 3
}
.sort__item {
  font-size: .875rem;
  letter-spacing: .01em;
  line-height: 2.5;
  padding-left: .875rem
}
.sort__item._active {
  font-weight: 700;
  color: #fe5f1e;
  background-color: rgba(254,95,30,.05)
}
.notfound {
  text-align: center
}
.notfound__title {
  font-weight: 700
}
.notfound__title span {
  font-size: 4rem;
  line-height: 2
}
.notfound__text {
  font-size: 1.25rem
}
.search__body {
  display: flex;
  justify-self: flex-end;
  position: relative
}
.search__input {
  outline: 0;
  padding: .625rem .625rem .625rem 3.125rem;
  border: .0625rem solid #bebebe;
  border-radius: 1.25rem;
  transition: all .3s
}
.search__input:focus {
  border: .0625rem solid #666565
}
.search__image {
  position: absolute;
  top: .3125rem;
  left: .625rem;
  width: 1.875rem;
  height: 1.875rem
}
.search__image img {
  width: 100%
}
.search__close {
  cursor: pointer;
  position: absolute;
  right: .3125rem;
  top: .3125rem;
  width: 1.875rem;
  height: 1.875rem
}
.search__close img {
  width: 100%;
  z-index: 3
}
.pagination {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}
.pagination li a {
  border: .0625rem solid #fe5f1e;
  color: #fe5f1e;
  align-content: center;
  border-radius: 50%
}
.pagination li a:hover {
  background-color: #fe5f1e;
  color: #fff
}
.pagination .selected a {
  background-color: #fe5f1e;
  color: #fff
}
.card {
  width: 16.25rem;
  justify-self: center
}
.card__image {
  margin-bottom: .75rem;
  width: 16.25rem;
  height: 16.25rem;
  margin-bottom: .625rem
}
.card__image img {
  width: 100%
}
.card__name {
  font-weight: 800;
  letter-spacing: .01em;
  text-align: center
}
.card__choice {
  background: #f3f3f3
}
.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;
  z-index: 1
}
.card__price {
  font-weight: 700;
  letter-spacing: .01em
}
.button-card {
  line-height: 2;
  transition: all .3s;
  border: .0625rem solid #eb5a1e;
  border-radius: 1.875rem;
  height: 2.5rem;
  align-items: center;
  justify-content: space-around;
  padding: .5rem .625rem;
  gap: .625rem;
  display: flex;
  flex-direction: row
}
.button-card__text {
  font-weight: 700;
  font-size: 1rem;
  color: #eb5a1e
}
.button-card__count {
  display: inline-flex;
  font-weight: 700;
  font-size: .8125rem;
  color: #fff;
  background-color: #eb5a1e;
  border-radius: 100%;
  width: 1.375rem;
  height: 1.375rem;
  align-items: center;
  justify-content: center;
  text-align: center
}
.choice-bottom {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: .3125rem;
  padding: .3125rem;
  border-radius: .625rem
}
.choice-bottom__list {
  display: flex;
  flex-direction: row;
  gap: .3125rem;
  justify-content: space-around
}
.choice-bottom__item {
  cursor: pointer;
  align-content: center;
  height: 2rem;
  width: 100%;
  line-height: 2.5;
  text-align: center
}
.choice-bottom__item._active {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
  background: #fff;
  border-radius: .3125rem
}
.cart {
  justify-self: center
}
.top-cart {
  display: flex;
  justify-content: space-between
}
.top-cart__title {
  font-weight: 700;
  letter-spacing: .01em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.125rem
}
.top-cart__title img {
  width: 1.875rem;
  height: 1.875rem
}
.top-cart__clean {
  font-size: 1rem;
  color: #b6b6b6;
  display: flex;
  gap: 1.125rem;
  justify-content: center;
  white-space: nowrap;
  align-items: center
}
.top-cart__clean img {
  width: 1.25rem;
  height: 1.25rem
}
.body-cart__item {
  border-top: 1px solid #bebebe
}
.item-cart {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem
}
.item-cart__info {
  display: flex;
  justify-self: flex-start;
  align-items: center
}
.item-cart__description {
  display: flex
}
.item-cart__image {
  width: 5rem;
  height: 5rem
}
.item-cart__image img {
  width: 100%
}
.item-cart__title {
  font-weight: 700;
  letter-spacing: .01em;
  line-height: 1
}
.item-cart__desc {
  letter-spacing: .01em;
  line-height: 1.2;
  color: #8d8d8d
}
.item-cart__count {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer
}
.item-cart__disabled {
  opacity: .4;
  border-color: #706f6f;
  cursor: auto
}
.item-cart__disabled svg path {
  fill: #706f6f
}
.item-cart__qty {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
  letter-spacing: .01em
}
.item-cart__price {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
  width: 5rem;
  letter-spacing: .01em;
  align-self: center;
  white-space: nowrap
}
.bottom-cart {
  display: flex;
  justify-content: space-between
}
.bottom-cart__price b {
  font-weight: 700;
  color: #fe5f1e
}
.buttons-cart {
  display: flex;
  justify-content: space-between;
  transition: all .2s
}
.buttons-cart__back {
  display: flex;
  flex-direction: row;
  gap: .625rem;
  font-size: 1rem;
  text-align: center;
  color: #cacaca;
  padding: 1rem 1.125rem;
  border: 1px solid #bebebe;
  border-radius: 1.875rem;
  transition: all .2s
}
.buttons-cart__pay {
  background-color: #fe5f1e;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 1rem 1.125rem;
  border-radius: 1.875rem;
  transition: all .2s
}
.empty-cart__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}
.empty-cart__title {
  font-weight: 700;
  letter-spacing: .01em
}
.empty-cart__text {
  font-weight: 400;
  line-height: 145%;
  letter-spacing: .01em;
  color: #777
}
.empty-cart__image img {
  width: 100%
}
.empty-cart__button {
  background-color: #000;
  border-radius: 1.875rem;
  padding: 1.25rem 1.875rem
}
.empty-cart__button span {
  font-weight: 700;
  letter-spacing: .01em;
  text-align: center;
  color: #fff
}
@media (min-width:47.99875em) {
  .search__input:focus {
    width: 30vw
  }
}
@media (min-width:70.625em) {
  .page {
    margin: 3.125rem
  }
  .header__body {
    margin-top: 3.125rem
  }
  .bar {
    width: 9.375rem
  }
  .bar {
    height: 3.125rem
  }
  .bar {
    font-size: 1rem
  }
  .bar__price {
    padding-right: .9375rem
  }
  .cart-bar {
    padding-left: .9375rem
  }
  .cart-bar__count {
    font-size: 1.125rem
  }
  .content {
    margin-top: 2.1875rem
  }
  .content__nav {
    margin-bottom: 2rem
  }
  .content__title {
    font-size: 2rem
  }
  .content__card {
    margin-top: 2.1875rem
  }
  .content__card {
    margin-bottom: 2.1875rem
  }
  .content__card {
    gap: 1.875rem
  }
  .sort__popup {
    width: 10rem
  }
  .sort__popup {
    margin-top: 1.875rem
  }
  .notfound {
    margin-top: 12.5rem
  }
  .notfound__title {
    font-size: 2rem
  }
  .notfound__text {
    margin-bottom: 12.5rem
  }
  .search {
    margin-top: 1.875rem
  }
  .pagination {
    margin-bottom: 2.5rem
  }
  .pagination {
    font-size: 1.625rem
  }
  .pagination {
    gap: 3.125rem
  }
  .pagination li a {
    width: 3.125rem
  }
  .pagination li a {
    height: 3.125rem
  }
  .card__name {
    font-size: 1.25rem
  }
  .card__choice {
    margin-top: 1.5rem
  }
  .card__bottom {
    margin-top: 1.5rem
  }
  .card__price {
    font-size: 1.375rem
  }
  .cart {
    width: 51.25rem
  }
  .top-cart {
    margin-bottom: 1.875rem
  }
  .top-cart__title {
    font-size: 2rem
  }
  .body-cart__item {
    padding-top: 1.875rem
  }
  .body-cart__item {
    padding-bottom: 1.875rem
  }
  .item-cart__info {
    gap: 1.5625rem
  }
  .item-cart__description {
    gap: 5rem
  }
  .item-cart__title {
    font-size: 1.375rem
  }
  .item-cart__desc {
    font-size: 1.125rem
  }
  .item-cart__count {
    gap: 1.25rem
  }
  .item-cart__count svg {
    width: 2rem
  }
  .item-cart__qty {
    font-size: 1.375rem
  }
  .item-cart__price {
    font-size: 1.375rem
  }
  .bottom-cart {
    font-size: 1.375rem
  }
  .bottom-cart {
    margin-bottom: 2.5rem
  }
  .buttons-cart {
    margin-bottom: 2.5rem
  }
  .empty-cart__body {
    margin-top: 9.375rem
  }
  .empty-cart__title {
    font-size: 2rem
  }
  .empty-cart__title {
    margin-bottom: 1.25rem
  }
  .empty-cart__text {
    font-size: 1.125rem
  }
  .empty-cart__text {
    margin-bottom: 2.5rem
  }
  .empty-cart__image {
    width: 18.75rem
  }
  .empty-cart__image {
    margin-bottom: 4.375rem
  }
  .empty-cart__button {
    margin-bottom: 4.375rem
  }
  .empty-cart__button span {
    font-size: 1rem
  }
}
@media (max-width:20em) {
  .page {
    margin: 1.25rem
  }
  .header__body {
    margin-top: 1.25rem
  }
  .bar {
    width: 6.25rem
  }
  .bar {
    height: 1.875rem
  }
  .bar {
    font-size: .875rem
  }
  .bar__price {
    padding-right: .3125rem
  }
  .cart-bar {
    padding-left: .3125rem
  }
  .cart-bar__count {
    font-size: 1rem
  }
  .content {
    margin-top: 1.25rem
  }
  .content__nav {
    margin-bottom: 1.25rem
  }
  .content__title {
    font-size: 1.5rem
  }
  .content__card {
    margin-top: 1.25rem
  }
  .content__card {
    margin-bottom: 1.25rem
  }
  .content__card {
    gap: .9375rem
  }
  .sort__popup {
    width: 8.125rem
  }
  .sort__popup {
    margin-top: .625rem
  }
  .notfound {
    margin-top: 2.5rem
  }
  .notfound__title {
    font-size: 1.5rem
  }
  .notfound__text {
    margin-bottom: 2.5rem
  }
  .search {
    margin-top: 1.25rem
  }
  .pagination {
    margin-bottom: 1.25rem
  }
  .pagination {
    font-size: 1rem
  }
  .pagination {
    gap: 1.25rem
  }
  .pagination li a {
    width: 1.25rem
  }
  .pagination li a {
    height: 1.25rem
  }
  .card__name {
    font-size: 1.125rem
  }
  .card__choice {
    margin-top: 1.125rem
  }
  .card__bottom {
    margin-top: 1.125rem
  }
  .card__price {
    font-size: 1.25rem
  }
  .cart {
    width: 15.625rem
  }
  .top-cart {
    margin-bottom: 1.25rem
  }
  .top-cart__title {
    font-size: 1.5rem
  }
  .body-cart__item {
    padding-top: 1.25rem
  }
  .body-cart__item {
    padding-bottom: 1.25rem
  }
  .item-cart__info {
    gap: .625rem
  }
  .item-cart__description {
    gap: .9375rem
  }
  .item-cart__title {
    font-size: 1.125rem
  }
  .item-cart__desc {
    font-size: 1rem
  }
  .item-cart__count {
    gap: .625rem
  }
  .item-cart__count svg {
    width: 1.75rem
  }
  .item-cart__qty {
    font-size: 1.125rem
  }
  .item-cart__price {
    font-size: 1.125rem
  }
  .bottom-cart {
    font-size: 1.125rem
  }
  .bottom-cart {
    margin-bottom: 1.25rem
  }
  .buttons-cart {
    margin-bottom: 1.25rem
  }
  .empty-cart__body {
    margin-top: 1.875rem
  }
  .empty-cart__title {
    font-size: 1.25rem
  }
  .empty-cart__title {
    margin-bottom: .625rem
  }
  .empty-cart__text {
    font-size: 1rem
  }
  .empty-cart__text {
    margin-bottom: .625rem
  }
  .empty-cart__image {
    width: 12.5rem
  }
  .empty-cart__image {
    margin-bottom: 1.875rem
  }
  .empty-cart__button {
    margin-bottom: 1.875rem
  }
  .empty-cart__button span {
    font-size: .875rem
  }
}
@media (max-width:61.99875em) {
  .content__nav {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem
  }
  .category__body {
    max-width: 100%;
    display: inline-flex;
    overflow: scroll;
    flex-wrap: nowrap;
    white-space: nowrap
  }
  .item-cart__info {
    flex-direction: column;
    flex-wrap: wrap
  }
}
@media (max-width:47.99875em) {
  .header__body {
    flex-direction: column;
    gap: 1.25rem
  }
  .category__body {
    gap: .625rem
  }
  .sort__label {
    flex-wrap: wrap
  }
  .item-cart__description {
    flex-direction: column;
    align-items: end;
    justify-content: center
  }
  .item-cart__price {
    align-self: flex-end
  }
}
@media (max-width:29.99875em) {
  .sort {
    align-self: flex-start
  }
  .sort__popup {
    right: -.625rem
  }
  .top-cart__title span {
    display: none
  }
  .bottom-cart {
    flex-direction: column;
    align-items: end;
    gap: .625rem
  }
  .buttons-cart {
    flex-direction: column-reverse;
    gap: 1.25rem
  }
  .buttons-cart__back {
    width: 12.5rem
  }
}
@media (min-width:20em)and (max-width:70.625em) {
  .page {
    margin: clamp(1.25rem ,.5092592593rem + 3.7037037037vw ,3.125rem)
  }
  .header__body {
    margin-top: clamp(1.25rem ,.5092592593rem + 3.7037037037vw ,3.125rem)
  }
  .bar {
    width: clamp(6.25rem ,5.0154320988rem + 6.1728395062vw ,9.375rem)
  }
  .bar {
    height: clamp(1.875rem ,1.3811728395rem + 2.4691358025vw ,3.125rem)
  }
  .bar {
    font-size: clamp(.875rem ,.825617284rem + .2469135802vw ,1rem)
  }
  .bar__price {
    padding-right: clamp(.3125rem ,.0655864198rem + 1.2345679012vw ,.9375rem)
  }
  .cart-bar {
    padding-left: clamp(.3125rem ,.0655864198rem + 1.2345679012vw ,.9375rem)
  }
  .cart-bar__count {
    font-size: clamp(1rem ,.950617284rem + .2469135802vw ,1.125rem)
  }
  .content {
    margin-top: clamp(1.25rem ,.8796296296rem + 1.8518518519vw ,2.1875rem)
  }
  .content__nav {
    margin-bottom: clamp(1.25rem ,.9537037037rem + 1.4814814815vw ,2rem)
  }
  .content__title {
    font-size: clamp(1.5rem ,1.3024691358rem + .987654321vw ,2rem)
  }
  .content__card {
    margin-top: clamp(1.25rem ,.8796296296rem + 1.8518518519vw ,2.1875rem)
  }
  .content__card {
    margin-bottom: clamp(1.25rem ,.8796296296rem + 1.8518518519vw ,2.1875rem)
  }
  .content__card {
    gap: clamp(.9375rem ,.5671296296rem + 1.8518518519vw ,1.875rem)
  }
  .sort__popup {
    width: clamp(8.125rem ,7.3842592593rem + 3.7037037037vw ,10rem)
  }
  .sort__popup {
    margin-top: clamp(.625rem ,.1311728395rem + 2.4691358025vw ,1.875rem)
  }
  .notfound {
    margin-top: clamp(2.5rem ,-1.450617284rem + 19.7530864198vw ,12.5rem)
  }
  .notfound__title {
    font-size: clamp(1.5rem ,1.3024691358rem + .987654321vw ,2rem)
  }
  .notfound__text {
    margin-bottom: clamp(2.5rem ,-1.450617284rem + 19.7530864198vw ,12.5rem)
  }
  .search {
    margin-top: clamp(1.25rem ,1.0030864198rem + 1.2345679012vw ,1.875rem)
  }
  .pagination {
    margin-bottom: clamp(1.25rem ,.7561728395rem + 2.4691358025vw ,2.5rem)
  }
  .pagination {
    font-size: clamp(1rem ,.7530864198rem + 1.2345679012vw ,1.625rem)
  }
  .pagination {
    gap: clamp(1.25rem ,.5092592593rem + 3.7037037037vw ,3.125rem)
  }
  .pagination li a {
    width: clamp(1.25rem ,.5092592593rem + 3.7037037037vw ,3.125rem)
  }
  .pagination li a {
    height: clamp(1.25rem ,.5092592593rem + 3.7037037037vw ,3.125rem)
  }
  .card__name {
    font-size: clamp(1.125rem ,1.075617284rem + .2469135802vw ,1.25rem)
  }
  .card__choice {
    margin-top: clamp(1.125rem ,.9768518519rem + .7407407407vw ,1.5rem)
  }
  .card__bottom {
    margin-top: clamp(1.125rem ,.9768518519rem + .7407407407vw ,1.5rem)
  }
  .card__price {
    font-size: clamp(1.25rem ,1.200617284rem + .2469135802vw ,1.375rem)
  }
  .cart {
    width: clamp(15.625rem ,1.5509259259rem + 70.3703703704vw ,51.25rem)
  }
  .top-cart {
    margin-bottom: clamp(1.25rem ,1.0030864198rem + 1.2345679012vw ,1.875rem)
  }
  .top-cart__title {
    font-size: clamp(1.5rem ,1.3024691358rem + .987654321vw ,2rem)
  }
  .body-cart__item {
    padding-top: clamp(1.25rem ,1.0030864198rem + 1.2345679012vw ,1.875rem)
  }
  .body-cart__item {
    padding-bottom: clamp(1.25rem ,1.0030864198rem + 1.2345679012vw ,1.875rem)
  }
  .item-cart__info {
    gap: clamp(.625rem ,.2546296296rem + 1.8518518519vw ,1.5625rem)
  }
  .item-cart__description {
    gap: clamp(.9375rem ,-.6674382716rem + 8.024691358vw ,5rem)
  }
  .item-cart__title {
    font-size: clamp(1.125rem ,1.0262345679rem + .4938271605vw ,1.375rem)
  }
  .item-cart__desc {
    font-size: clamp(1rem ,.950617284rem + .2469135802vw ,1.125rem)
  }
  .item-cart__count {
    gap: clamp(.625rem ,.3780864198rem + 1.2345679012vw ,1.25rem)
  }
  .item-cart__count svg {
    width: clamp(1.75rem ,1.6512345679rem + .4938271605vw ,2rem)
  }
  .item-cart__qty {
    font-size: clamp(1.125rem ,1.0262345679rem + .4938271605vw ,1.375rem)
  }
  .item-cart__price {
    font-size: clamp(1.125rem ,1.0262345679rem + .4938271605vw ,1.375rem)
  }
  .bottom-cart {
    font-size: clamp(1.125rem ,1.0262345679rem + .4938271605vw ,1.375rem)
  }
  .bottom-cart {
    margin-bottom: clamp(1.25rem ,.7561728395rem + 2.4691358025vw ,2.5rem)
  }
  .buttons-cart {
    margin-bottom: clamp(1.25rem ,.7561728395rem + 2.4691358025vw ,2.5rem)
  }
  .empty-cart__body {
    margin-top: clamp(1.875rem ,-1.087962963rem + 14.8148148148vw ,9.375rem)
  }
  .empty-cart__title {
    font-size: clamp(1.25rem ,.9537037037rem + 1.4814814815vw ,2rem)
  }
  .empty-cart__title {
    margin-bottom: clamp(.625rem ,.3780864198rem + 1.2345679012vw ,1.25rem)
  }
  .empty-cart__text {
    font-size: clamp(1rem ,.950617284rem + .2469135802vw ,1.125rem)
  }
  .empty-cart__text {
    margin-bottom: clamp(.625rem ,-.1157407407rem + 3.7037037037vw ,2.5rem)
  }
  .empty-cart__image {
    width: clamp(12.5rem ,10.0308641975rem + 12.3456790123vw ,18.75rem)
  }
  .empty-cart__image {
    margin-bottom: clamp(1.875rem ,.887345679rem + 4.9382716049vw ,4.375rem)
  }
  .empty-cart__button {
    margin-bottom: clamp(1.875rem ,.887345679rem + 4.9382716049vw ,4.375rem)
  }
  .empty-cart__button span {
    font-size: clamp(.875rem ,.825617284rem + .2469135802vw ,1rem)
  }
}
@media (any-hover:hover) {
  .bar:hover {
    background-color: #ee4806
  }
  .search__input:hover {
    background-color: rgba(224,224,224,.4666666667)
  }
  .button-card:hover {
    background-color: #eb5a1e
  }
  .button-card:hover:hover .button-card__text {
    color: #fff
  }
  .button-card:hover:hover .button-card__count {
    background-color: #fff;
    color: #eb5a1e
  }
  .button-card:hover svg path {
    fill: #fff
  }
  .top-cart__clean:hover {
    color: #706f6f
  }
  .item-cart__count svg:hover path {
    fill: #fff
  }
  .item-cart__count svg:hover circle {
    fill: #ee4806
  }
  .item-cart__disabled svg:hover path {
    fill: #706f6f
  }
  .item-cart__disabled svg:hover circle {
    fill: transparent
  }
  .buttons-cart__back:hover {
    color: #7d7c7c;
    background-color: #ededed
  }
  .buttons-cart__pay:hover {
    background-color: #ee4806
  }
  .empty-cart__button:hover {
    background-color: #3a3a3a
  }
}